html{
	font:14px/1.2 'Microsoft YaHei' Arial,Sans-serif;
}

body{
	height:100%;
	margin:0;
}

.sec1{
	position: relative;
	height:620px;
	padding-bottom:10px;
	background-color:#000;
	text-align: center;
}

.sec1>.hi{
	position: absolute;
	top:25%;
	width:100%;
	color:#fff;
	font-size:2em;
}

.sec1>.bg{
	/*-webkit-filter:blur(3px);*/
}

.nav{
	position: relative;
	height: 140px;
	padding:60px 0;
	background-color: #eee;
	text-align: center;
}

.nav>p{
	margin:0;
	padding:20px 0;
}

.nav>ul{
	margin:0;
	padding-left: 0;
	list-style-type: none;
}
.nav>ul>li{
	display: inline-block;
	width:150px;
	height:70px;
}
.nav>ul>li>a{
	float:left;
	width:100%;
	padding:25px 0;
	font-size:1.2em;
	cursor:pointer;
}

.nav>ul>li>a.shadow{
	color:transparent;
	text-shadow:0px 0px 3px #666;
}

.sec2{
	position: relative;
	height:520px;
	background-color: #aaa;
}

.sec2>.s-left{
	float:left;
	position: relative;
	width:35%;
	height:100%;
	border-right:2px solid #fff;
}

.sec2>.s-left>.title{
	position: absolute;
	top: 100px;
	right: 20px;
	margin:0;
	color:#fff;
	font-weight: lighter;
	font-size: 1.5em;
}

.sec2>.s-right{
	height:100%;
	padding-left:35%;
}

.sec2>.s-right>.content{
	padding-top:100px;
	padding-left:20px;
}
.sec2>.s-right>.content>p{
	margin-top:0;
	color:#fff;
	font-size:1.2em;
	line-height: 1.5em;
}

.sec3{
	position: relative;
	background-color: #555;
	text-align: center;
}

.sec3>.content{
	position: absolute;
	top:5%;
	width:100%;
	color:#000;
}

.sec3>.content>.title{
	font-weight: lighter;
	font-size: 1.5em;
}
.sec3>.content>p{
	font-size:1.2em;
	line-height: 1.5em;
}

.sec3 .bg{
	width:100%;
	vertical-align: top;
}

.sec4{
	height:470px;
	background-color: #9c3;
}

.sec4>.s-left{
	float:left;
	position: relative;
	width:65%;
	height:100%;
	border-right:2px solid #fff;
}

.sec4>.s-left>.content{
	padding-top: 100px;
	padding-right:20px;
	text-align: right;
}

.sec4>.s-left>.content>p{
	margin-top:0;
	color: #fff;
	font-size: 1.2em;
	line-height: 1.5em;
}

.sec4>.s-right{
	position: relative;
	height:100%;
	padding-left:65%;
}

.sec4>.s-right>.s-right-c{
	position: relative;
	height: 100%;
}

.sec4>.s-right>.s-right-c>.title{
	position: absolute;
	top: 100px;
	left: 20px;
	margin:0;
	color:#fff;
	font-weight: lighter;
	font-size: 1.5em;
}

.sec5{
	position: relative;
	height:600px;
	background-color: #f6f6f6;
}

.sec5>.s-left{
	float:left;
	position: relative;
	width:35%;
	height:100%;
	border-right:2px solid #bbb;
}

.sec5>.s-left>.title{
	position: absolute;
	top: 100px;
	right: 20px;
	margin:0;
	color:#333;
	font-weight: lighter;
	font-size: 1.5em;
}

.sec5>.s-right{
	height:100%;
	padding-left:35%;
}

.sec5>.s-right>.content{
	padding-top:100px;
	padding-left:20px;
}
.sec5>.s-right>.content>p{
	margin-top:0;
	color:#333;
	font-size:1.2em;
	line-height: 1.5em;
}

.sec6{
	position: relative;
	text-align: center;
}

.sec6>.content{
	position: absolute;
	top:10%;
	width:100%;
	color:#fff;
}

.sec6>.content>.title{
	margin-bottom: 50px;
	font-weight: lighter;
	font-size: 1.5em;
}

.sec6>.content>ul{
	margin:0;
	padding-left: 0;
	list-style-type: none;
}
.sec6>.content>ul>li{
	display:inline-block;
	margin:0 100px;
}
.sec6>.content>ul>li>a{
	float:left;
	width:100px;
	height:200px;
	font-size:1.2em;
	line-height:3em;
	text-decoration: none;
	color:#fff;
}
.sec6>.content>ul>li>a:hover{
	color:#333;
}
.sec6>.content>ul>li>a>img{
	display:block;
}

.sec6 .bg{
	width:100%;
	vertical-align: top;
}

footer{
	position: relative;
	height:60px;
	text-align: center;
	color:#aaa;
}
footer p{
	margin:0;
	padding-top:30px;
}

/*回到顶部*/
#backtop{
	display: none;
	position: fixed;
	bottom:25px;
	right:25px;
	width:50px;
	height:50px;
	background: url(images/backtop.png) no-repeat;
}

#backtop:hover{
	background-position:0 -50px;
	cursor:pointer;
}

/*向下箭头*/
.arrow{
	position: absolute;
	top:0;
	left: 50%;
	width:30px;
	margin-left: -15px;
}