html{
	font:14px/1.2 'Microsoft YaHei' Arial,Sans-serif;
}

body{
	height:100%;
	margin:0;
}

section,nav{position: relative;}


#home{
	height:620px;
	background-color:#000;
	text-align: center;
}

#home > .hi{
	position: absolute;
	top:25%;
	width:100%;
	color:#fff;
	font-size:2em;
}

nav{
	height: 140px;
	padding:60px 0;
	background-color: #eee;
	text-align: center;
}

nav>p{
	margin:0;
	padding:20px 0;
}

nav>ul{
	margin:0;
	padding-left: 0;
	list-style-type: none;
}
nav>ul>li{
	display: inline-block;
	width:150px;
	height:70px;
}
nav>ul>li>a{
	float:left;
	width:100%;
	padding:25px 0;
	font-size:1.2em;
	cursor:pointer;
}

nav>ul>li>a.shadow{
	color:transparent;
	text-shadow:0px 0px 3px #666;
}

#work{
	height:520px;
	background-color: #aaa;
}
#live{
	height:600px;
	background-color: #f6f6f6;
}
#sport{
	height:470px;
	background-color: #9c3;
}

#work>.s-left,
#live>.s-left,
#sport>.s-left{
	float:left;
	position: relative;
	width:35%;
	height:100%;
	border-right:2px solid #fff;
}
#live>.s-left{
	border-right-color:#bbb;
}
#sport>.s-left{
	width:65%;
}

#work>.s-left>.title,
#live>.s-left>.title,
#sport>.s-right>.s-right-c>.title{
	position: absolute;
	top: 100px;
	right: 20px;
	margin:0;
	color:#fff;
	font-weight: lighter;
	font-size: 1.5em;
}
#sport>.s-right>.s-right-c>.title{
	left: 20px;
}
#live>.s-left>.title{
	color:#333;
}

#work>.s-right,
#live>.s-right{
	height:100%;
	padding-left:35%;
}

#work>.s-right>.content,
#live>.s-right>.content{
	padding-top:100px;
	padding-left:20px;
}

#work>.s-right>.content>p,
#live>.s-right>.content>p,
#sport>.s-left>.content>p{
	margin-top:0;
	color:#fff;
	font-size:1.2em;
	line-height: 1.5em;
}
#live>.s-right>.content>p{
	color:#333;
}

#sport>.s-left>.content{
	padding-top: 100px;
	padding-right:20px;
	text-align: right;
}

#sport>.s-right{
	position: relative;
	height:100%;
	padding-left:65%;
}

#sport>.s-right>.s-right-c{
	position: relative;
	height: 100%;
}

#music{
	background-color: #555;
	text-align: center;
}

#music>.content{
	position: absolute;
	top:5%;
	width:100%;
	color:#000;
}

#music>.content>.title,
#more>.content>.title{
	font-weight: lighter;
	font-size: 1.5em;
}
#more>.content>.title{
	margin-bottom: 50px;
}

#music>.content>p{
	font-size:1.2em;
	line-height: 1.5em;
}

#music .bg,
#more .bg{
	width:100%;
	vertical-align: top;
}

#more{
	text-align: center;
}

#more>.content{
	position: absolute;
	top:10%;
	width:100%;
	color:#fff;
}

#more>.content>ul{
	margin:0;
	padding-left: 0;
	list-style-type: none;
}

#more>.content>ul>li{
	display:inline-block;
	margin:0 100px;
}

#more>.content>ul>li>a{
	float:left;
	width:100px;
	height:200px;
	font-size:1.2em;
	line-height:3em;
	text-decoration: none;
	color:#fff;
}

#more>.content>ul>li>a:hover{
	color:#333;
}

#more>.content>ul>li>a>img{
	display:block;
}

footer{
	position: relative;
	height:60px;
	text-align: center;
	color:#aaa;
}
footer p{
	margin:0;
	padding-top:30px;
}

/*回到顶部*/
#backtop{
	display: none;
	position: fixed;
	bottom:25px;
	right:25px;
	width:50px;
	height:50px;
	background: url(images/backtop.png) no-repeat;
}

#backtop:hover{
	background-position:0 -50px;
	cursor:pointer;
}

/*向下箭头*/
.arrow{
	position: absolute;
	top:0;
	left: 50%;
	width:30px;
	margin-left: -15px;
}