<!DOCTYPE html>
<html>
　　<head>
　　　　<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
　　　　<title>{{ page.title }}</title>
		<link href="{{ site.baseurl }}/theme/blog.css" rel="stylesheet" type="text/css"/>
　　</head>
　　<body>
		<aside>
			<a class="home" href="{{site.baseurl}}/index">
				<h1>
					Jeremy's Blog
				</h1>
				<img src="{{ site.baseurl }}/images/head.jpg" width="150" height="150" />
			</a>
			<ul class="contact">
				<li><a class="weibo" href="https://github.com/JeremyFan"></a></li>
				<li><a class="github" href="http://weibo.com/u/2011413844"></a></li>
				<li><a class="twitter" href="https://twitter.com/FanCC667"></a></li>
			</ul>
		</aside>
		<section>
　　　　	{{ content }}
		</section>
　　</body>
</html>